<!DOCTYPE html>
<html lang="en">

  <head>
    <title>MusicN'Lyrics | History</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.5.0/css/all.css" integrity="sha384-B4dIYHKNBt8Bc12p+WXckhzcICo0wtJAoU8YZTY5qE0Id1GSseTk6S+L3BlXeVIU" crossorigin="anonymous">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js"></script>
  </head>

  <style>
  tr, td {
    text-align: center;
  }

  </style>
<body>

{{> navbar}}

<div class="container-fluid">

  <div class="card w-100 mb-3">
    <div class="card-body m-4 p-4">
      <h1 class="display-4 text-center">
        <i class="fas fa-star"></i> Historical Searches <i class="fas fa-star"></i></i>
        <p class="lead text-center">This is your previous search results</p>
      </h1>
    </div>
  </div>

  <div class="card w-100 mb-3">
    <div class="card-body m-4 p-4">
      <form id="form" action="/" method="post">
        <button class="btn btn-danger btn-lg btn-block" type="submit" formaction="/delete">Delete all records</button>
      </form>
    </div>
  </div>

  <div class="card w-100 mb-3">
    <div class="card-body m-4 p-4">
      <table class="table table-bordered">
        <thead class="thead-dark">
          <tr><th style="width: 10%">Artist</th><th style="width: 10%">Track</th><th style="width: 10%">Album</th><th style="width: 30%">Lyrics</th><th style="width: 30%">YouTube</th></tr>
          {{#list items}}<tr><td>{{artist}}</td><td>{{track}}</td><td>{{album}}</td><td>{{lyrics}}</td><td><iframe class="video w100" width="100%" height="156.25%" src="//www.youtube.com/embed/{{youtube}}" frameborder="0"></iframe></td></tr>{{/list}}
        </thead>
      </table>
    </div>
  </div>
  
</div>

</body>
</html>
